@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish',sans-serif;
    margin-left: 255px;
    margin-top: 70px;
    background-color:#F7F8FC;
    overflow-x: hidden;
}
.sidebar-btn{
    display:flex;
    align-items:center;
    height:56px;
    padding-left: 32px;
}
.sidebar-btn:hover, .active {
    color:#DDE2FF;
    background: rgba(164, 166, 179, 0.08);
    border-left: 3px solid #DDE2FF;
}
.sidebar-icon{
    color:#A4A6B3;
    margin-right:10px;
}
.sidebar-link {
    text-decoration:none;
    color:#A4A6B3;
}
.metric-card:hover{
    cursor: pointer;
    border-color: #3751FF;
}
.metric-card:hover .metric-card-text {
    cursor: pointer;
    color: #3751FF;
}
.table-titles {
    color:#9FA2B4;
    font-size:14px;
    font-weight:bold;
}
.table-row:hover {
    cursor:'pointer';
    background-color: rgba(55, 81, 255, 0.04);
}