@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Mulish',sans-serif;
}
.sidebar-btn{
    display:flex;
    align-items:center;
    height:56px;
    padding-left: 32px;
}
.sidebar-btn:hover, .active {
    opacity: 0.8;
    border-left: 3px solid #DDE2FF;
}
.sidebar-icon{
    color:#A4A6B3;
    margin-right:10px;
}
.sidebar-link {
    text-decoration:none;
    color:#A4A6B3;
}